/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 
a {
  color: rgb(60, 132, 139);
}

li {
  color: #999999;
}

.carousel-caption {
  text-align: center;
  max-width: none;
}

.center {
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
}

.well-large {
  border-radius: 0;
}

iframe {
  min-height: 400px;
  height: auto;
  margin-bottom: 15px;
  max-width: 780px;
}

#services h2 {
  color: white;
}

@media (max-width: 640px) {
  iframe {
    min-height: 200px;
  }
}