/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 
.carousel-caption {
  text-align: center;
}

.center {
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
}