<div class="small-12 large-3 columns ad-promo">
  <div class="ad-promo-inner">
    <div class="ad-img">
      <a href="ad.html">
        <img src="img/ads/travel.jpg" alt="">
      </a>
    </div>
    <div class="caption">
      <h3><a href="ad.html">Travel to the white beaches now</a></h3>
      <p><span class="price-old">399,-</span> <strong> 248,-</strong></p>
      <div class="ad-logo">
        <img src="img/logos/rosendal.jpg">
      </div>
    </div>
  </div>
</div>

<div class="small-12 large-3 columns ad-promo">
  <div class="ad-promo-inner">
    <div class="ad-img">
      <a href="ad.html">
        <img src="img/ads/shoes.jpg" alt="">
      </a>
    </div>
    <div class="caption">
      <h3><a href="ad.html">Spring 2013 shoes from 248 & up. Get 'em!</a></h3>
      <p><span class="price-old">399,-</span> <strong> 248,-</strong></p>
      <div class="ad-logo">
        <img src="img/logos/mapquest.jpg">
      </div>
    </div>
  </div>
</div>

<div class="small-12 large-3 columns ad-promo">
  <div class="ad-promo-inner">
    <div class="ad-img">
      <a href="ad.html">
        <img src="img/ads/plastic.jpg" alt="">
      </a>
    </div>
    <div class="caption">
      <h3><a href="ad.html">Beautify your skin -for free this week!</a></h3>
      <p><span class="price-old">399,-</span> <strong> 248,-</strong></p>
      <div class="ad-logo">
        <img src="img/logos/rosendal.jpg">
      </div>
    </div>
  </div>
</div>
