<section class="company-block company1">
  <h2 class="company-name "><a href="company.html">Life Quality Products</a></h1>
  <div class="row contact">
    <div class="phone small-5 columns">
      <strong>22 14 41 59</strong>
    </div>
    <div class="website small-7 columns">
      <strong class=""><a href="http://amazon.com">lifequalityprods.no</a></strong>
    </div>
  </div>
  <div class="address">
    <a href="http://goo.gl/qxKlm">Skytterveien 10b, 1605 Fredrikstad</a>
  </div>
  <footer class="logo">
    <a href="company.html"><img src="http://godetilbud.aftenposten.no/sites/default/files/styles/search_result_store_thumb/public/images/node-store/dynabel_logo.jpg"></a>
  </footer>
</section>