
<section class="company-block company2">
  <div class="gallery">
    <ul data-orbit>
      <li>
        <img src="http://foundation.zurb.com/docs/img/demos/demo1.jpg" />
      </li>
      <li>
        <img src="http://foundation.zurb.com/docs/img/demos/demo2.jpg" />
      </li>
      <li>
        <img src="http://foundation.zurb.com/docs/img/demos/demo3.jpg" />
      </li>
    </ul>
  </div>

  <h3>Opening Hours</h3>
  <div class="opening-hours">
    <table>
      <tbody>
        <tr>
          <td>Monday - Friday</td>
          <td>09-16.00</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>09-12.00</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>Closed</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3>Social media</h3>
    <div class="fb-page">
      <i class="foundicon-facebook"></i>
      <a href="http://facebook.com/frontkom">f.com/LifeQualityProducts</a>
  </div>
  <h3>About Life Quality Products</h3>
  <p class="about-company">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>