<div class="row fluid">
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>
  <div class="small-12 large-4 columns company-promo">
    {% include company1.html %}
  </div>

</div>